/* These are shortcuts to use within inline-html to make it a bit easier to format, similar to bootstraps. */
.underline {
    text-decoration: underline;
}

.inline {
    display: inline-block;
}

.w-fill {
    width: 100%;
}

.w-tight {
    width: fit-content;
}

.text-short {
    line-height: 16px;
}

.border-black {
    border: 1px solid black;
}

.border-black-top {
    border-top: 1px solid black;
}

.border-black-bottom {
    border-bottom: 1px solid black;
}
/* END SHORTCUTS */

/* Make sure the banner is a decent size */
.banner {
    width: 180px;
}

/* Full Site Styling */

body, html {
    background-color: #BCE0FD;
}

nav {
    background-color: #00549B;
}

/* Popups */
.popupContainer {
    position: absolute;
    z-index: 99; /* So it's 100% top of the screen overriding anything else */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Styling the popup content a bit. */
.popupContent {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 80%;
    height: fit-content;
    border-radius: 5px;
    padding-bottom: 2%;
}

.popupClassTitle {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
}

.popupSubtitle {
    font-size: 18px;
    text-align: center;
}

.popupCourseDescription {
    font-size: 16px;
    text-align: center;
    padding-top: 10px;
    padding: 10px;
}

.card {
    border-radius: 15px;
}