.container-fluid > .row {
    overflow-x: auto;
    white-space: nowrap;
    flex-wrap: nowrap;
}

.card {
    max-width: 100%;
    min-width: fit-content;
}

.form-control {
    border-radius: 15px;
}

iframe {
    overflow-x: auto;
}

.underline {
    text-decoration: underline;
}

.inline {
    display: inline-block;
}

.navbar-toggler {
    margin-left: auto;
    margin-right: auto;
<<<<<<< HEAD
}

.card-title {
    max-width: 300px;
}
/* 
.card-body .card {
    word-wrap: break-word;
    min-width: 300px;
} */
=======
}
>>>>>>> e86b13b1f52f986c0c5ca6cdcaee320e3ec74837
