.container-fluid > .row {
    overflow-x: auto;
    white-space: nowrap;
    flex-wrap: nowrap;
}

.card {
    max-width: 100%;
    min-width: fit-content;
}

.form-control {
    border-radius: 15px;
}

/* These are just for quick use in text styling. */
.underline {
    text-decoration: underline;
}

.inline {
    display: inline-block;
}

.navbar-toggler {
    margin-left: auto;
    margin-right: auto;
}

.card-title {
    max-width: 300px;
}

/* 
    Everything below is for the calander.
    This just creates a simple grid for all the elements
    #GoCSSGrid!
*/
    .calendar {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.8);

    border-radius: 15px;
    padding-top: 15px;
    padding-bottom: 15px;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . . . ."
      ". . . . . ."
      ". . . . . ."
      ". . . . . ."
      ". . . . . ."
      ". . . . . .";
}

.calItem {
    color: white;
}

.calLabel {
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    padding-bottom: 10px;
}

.calCurrent {
    color: orange;
}